@media screen and (max-width: 550px) {
  .pieChart {
    width: 70vw !important;
    height: 40vh !important;
  }
}

@media screen and (max-width: 1050px) and (min-width: 550px) {
  .pieChart {
    width: 65vw !important;
    height: 50vh !important;
  }
}
.statechart{
  #state1, #state2,#state3,#state4,#state5, #value1, #value2, #value3, #value4, #value5{
  width: 43%;
} 
}