.charts-card{
  width: 350px;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.charts2-card{
  width: 350px;
  height: 270px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.chart-description{
  width: 350px;
  padding: 10px;
}

.chart-box{
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.my-card{
  display: flex;
  justify-content: center;
}

.charts-description{
  margin: 0 22px;
}

@media screen and (max-width: 1560px) {
  .charts-description{
    margin: 0 10px;
  }
}

@media screen and (max-width: 1494px) {
  .charts-description{
    margin: 0 100px;
  }
}

@media screen and (max-width: 1440px) {
  .charts-description{
    margin: 0 80px;
  }
}

@media screen and (max-width: 1330px) {
  .charts-description{
    margin: 0 60px;
  }
}

@media screen and (max-width: 1200px) {
  .charts-description{
    margin: 0 40px;
  }
}

@media screen and (max-width: 525px) {
  .charts-description{
    margin: 0 38px;
  }
}

@media screen and (max-width: 414px) {
  .charts-description{
    margin: 0;
  }
}