.chart-page-card{
    border: none !important;
    padding: 10px;
    margin: 10px auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.chart-page-card1{
    height: 70vh !important;
}

.data-add-btn{
    border: 0;
    color: white;
    padding: 6px 20px;
    background: #303c54;
    border-radius: 10px;
}

@media screen and (max-width: 550px) {
    .chart-page-card1{
        height: 42vh !important;
    }
}