.input-style {
  border-radius: 0.5em;
  border: 0 !important;
  background-color: #f5f6f8;
}

.input-style:focus {
  border: none;
  outline: 0;
}

.btn-sub {
  background-color: #3c4b64;
  border-radius: 0.5em;
  color: white;
}

.form-label {
  color: black;
}
