.input-style {
    border-radius: 0.5em;
    border: 1px solid black !important;
    width: 100px;
    background-color: #f5f6f8;
}

.input-style:focus {
    border: none;
    outline: 0;
}

.btn-sub {
    background-color: #3c4b64;
    border-radius: 0.5em;
    color: white;
}

.form-div{
    height: 87%;
}